.beans-container {
    background: linear-gradient(#2f303a66, #2f303a66),
      url("/assets/images/beansbg.png");
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  .beans {
    margin-top: 50px;
  }

  .beans-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .solo-bean {
    @media screen and (max-width: 768px) {
      display: flex;
    margin-top: 30px;
    justify-content: space-between;
    flex-direction: column;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    margin-top: 30px;
    justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-top: 30px;
      justify-content: space-between;
    }
  }

  .img-bean {
    width: 80%;
  
}

.bean-img {
  text-align: center;
  flex: 0 0 45%;
}

.bean-text {
  flex: 0 0 45%;
  display: flex;
  padding: 30px 0;
  flex-direction: column;
}

.beans-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.bean-name {
  font-size: 25px;
  font-weight: 600;
}

.bean-cap {
  margin-top: 10px;
  font-size: 18px;
  color: #000000bd;
}

.row-rev {
  flex-direction: row-reverse;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
  }
}