.dairy-container {
    background: linear-gradient(#2f303a66, #2f303a66),
      url("/assets/images/dairybg.png");
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  .dairys {
    margin-top: 50px;
  }

  .dairys-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .solo-dairy {
    @media screen and (max-width: 768px) {
      display: flex;
    // margin-top: 30px;
    justify-content: space-between;
    flex-direction: column;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    // margin-top: 30px;
    justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      // margin-top: 30px;
      justify-content: space-between;
    }
  }

  .img-dairy {
    width: 80%;
  
}

.dairy-img {
  text-align: center;
  flex: 0 0 45%;
}

.dairy-text {
  flex: 0 0 45%;
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  justify-content: center;
}

.dairys-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.dairy-name {
  font-size: 25px;
  font-weight: 600;
}

.dairy-cap {
  margin-top: 10px;
  font-size: 18px;
  color: #000000bd;
}

.dairys-cap {
  margin-top: 10px;
  font-size: 18px;
  color: #000000bd;
  text-align: center;
}