.eggs-container {
    background: linear-gradient(#2f303a66, #2f303a66),
      url("/assets/images/eggsbg.png");
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  .eggs {
    margin-top: 50px;
  }

  .eggs-slogan {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .eggs-cap {
    margin-top: 10px;
    font-size: 18px;
    color: #000000bd;
  }

  .eggs-wrapper {
    
    @media screen and (max-width: 768px) {
      display: flex;
    margin-top: 50px;
    flex-direction: column;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    margin-top: 50px;
    justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    margin-top: 50px;
    justify-content: space-around;
    }
  }

  .eggs-text {
    flex: 0 0 52%;
    // padding: 45px;
  }

  .egg-img {
    text-align: center;
  }

  .img-egg {
      width: 80%;
    
  }