.flour-container {
    background: linear-gradient(#2f303a66, #2f303a66),
      url("/assets/images/flourbg.jpg");
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  .flour {
    margin-top: 50px;
  }
  
  .flour-slogan {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .flour-h3 {
margin-top: 20px;
font-size: 20px;
  }

  .flour-list {
    margin-top: 20px;
  }

  .flour-cap {
    margin-top: 20px;
  }

  .mt10 {
margin-top: 10px;

  }
  .flour-texts li, p {
    font-size: 18px;
    color: #000000bd;;
  }

  .bolder-text {
    font-weight: 600;
    flex: 0 0 58%;
    color: #000000 !important;
  }

  

  .flour-wrapper {
    
    @media screen and (max-width: 768px) {
      display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column;
align-items: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: row;
    align-items: flex-start;
    }
  }

  .image {
    
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
      
    }
  }