.grain-container {
    background: linear-gradient(#2f303a66, #2f303a66),
      url("/assets/images/grainbg.png");
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  .grain {
    margin-top: 50px;
  }

  .grain-slogan {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .grain-top {
    
    @media screen and (max-width: 768px) {
      display: flex;
    margin-top: 50px;
    justify-content: space-between;
    flex-direction: column;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    margin-top: 50px;
    justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-top: 50px;
      justify-content: space-between;
    }
  }

  .grain-top-text {
    flex: 0 0 55%
  }

  .grain-top-text h3 {
    font-size: 20px;
    font-weight: 800;
  }

  .grain-top-text p {
    font-size: 18px;
    margin-top: 15px;
    color: #000000bd;
  }

  .grain-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .grain-item {
        
    @media screen and (max-width: 768px) {
        /* margin-bottom: 30px; */
    flex: 0 0 100%;
    /* max-width: 25%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    background-color: #fff;
    text-align: center;
    padding: 10px 10px 30px;
    transition: .3s;
    /* position: relative; */
    display: block;
    height: 100%;
    overflow: hidden;
    margin: 10px;
      }
      @media screen and (min-width: 768px) {
        /* margin-bottom: 30px; */
    flex: 0 0 40%;
    /* max-width: 25%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    background-color: #fff;
    text-align: center;
    padding: 10px 10px 30px;
    transition: .3s;
    /* position: relative; */
    display: block;
    height: 100%;
    overflow: hidden;
    margin: 10px;
      }
      @media screen and (min-width: 1200px) {
        /* margin-bottom: 30px; */
    flex: 0 0 30%;
    /* max-width: 25%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    background-color: #fff;
    text-align: center;
    padding: 10px 10px 30px;
    transition: .3s;
    /* position: relative; */
    display: block;
    height: 100%;
    overflow: hidden;
    margin: 10px;
      }
}

.grain-img {
max-width: 300px;
height: 300px;
-o-object-fit: contain;
object-fit: contain;
margin: auto;
width: 100%;
}

.grain-title {
@media screen and (max-width: 768px) {
  color: #1904d9ad;
  font-size: 30px;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  color: #1904d9ad;
  font-size: 25px;
  font-weight: 800;
}
@media screen and (min-width: 1200px) {
  
color: #1904d9ad;
font-size: 30px;
font-weight: 800;
}
}

.grain-item:hover {
webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, .25);
box-shadow: 0 6px 30px rgba(0, 0, 0, .25);
}

.grain-top-img img {
  @media screen and (max-width: 768px) {
    max-width: 90%;
  }
  
}