.oil-container {
  background: linear-gradient(#2f303a66, #2f303a66),
    url("/assets/images/oilbg.png");

  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.oil {
  margin-top: 50px;
}

.oil-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.oil-wrapper {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 30px;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 30px;
    align-items: center;
  }
}

.oil-slide-image {
  margin: 0 auto;
  width: 10%;
}

.oil-caption-wrapper {
  @media screen and (max-width: 768px) {
    display: flex;
    // width: 80%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    // width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    flex: 0 0 45%;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    // width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 0;
    flex: 0 0 50%;
  }
}

.oil-caption-wrapper h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.oil-caption-wrapper p {
  font-size: 18px;
  color: #000000bd;
}

.raf-cap {
  margin-top: 10px;
  font-size: 18px;
  color: #000000bd;
}

.oil-caption-wrapper h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 10px;
}

.oil-caption-wrapper p, li {
  font-size: 18px;
}

.oil-regular-text {
  font-size: 18px;
  color: #000000bd;
}

.oil-pack {
  list-style: disc;
}

.oil-wrapper2 {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: row;
  }
}

.tank-img {
  @media screen and (max-width: 768px) {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    // flex: 0 0 45%;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    // width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 0;
    // flex: 0 0 50%;
    width: 40%;
  }
}

.oil-caption-wrapper2 {
  @media screen and (max-width: 768px) {
    display: flex;
    // width: 80%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    // width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    flex: 0 0 45%;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    // width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 0;
    flex: 0 0 50%;
  }
}

.oil-caption-wrapper2 h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.oil-caption-wrapper2 p {
  font-size: 18px;
  color: #000000bd;
}

.raf-cap {
  margin-top: 10px;
  font-size: 15px;
  color: #000000bd;
}

.oil-caption-wrapper2 h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 10px;
}

.oil-slide {
  display: flex;
  justify-content: center;
}

.oil-bottles-img {
  width: 80%;
}