.pasta-container {
  background: linear-gradient(#2f303a66, #2f303a66),
    url("/assets/images/pastabg.jpg");

  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.pasta {
  margin-top: 50px;
}

.pasta-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}



.pasta-wrapper {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.pasta-caption-wrapper {
  
  @media screen and (max-width: 768px) {
    display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  }
}

.pasta-caption-wrapper h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.pasta-caption-wrapper p {
  font-size: 18px;
  color: #000000bd;
}

.pasta-slide {
  text-align: center;
}


.pasta-caption-wrapper li {
  font-size: 18px;
  color: #000000bd;
}

.pasta-cap-wrapper {
  display: flex;
    flex-direction: column;
    /* align-items: self-end; */
    margin: 30px auto;
    align-items: center;
}

.pasta-cap-wrapper ul {
  margin-top: 20px;
}
.pasta-cap-wrapper p {
  margin-top: 20px;
}