.sugar-container {
    background: linear-gradient(#2f303a66, #2f303a66),
      url("/assets/images/sugarbg.jpg");
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  .sugar {
    margin-top: 50px;
  }

  .sugar-slogan {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .sugar-cap {
    margin-top: 10px;
    font-size: 18px;
    color: #000000bd;
  }

  .sugar-wrapper {
    
    @media screen and (max-width: 768px) {
      display: flex;
    margin-top: 50px;
    flex-direction: column;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    margin-top: 50px;
    justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    margin-top: 50px;
    justify-content: space-around;
    }
  }

  .sugar-text {
    flex: 0 0 52%;
    // padding: 45px;
  }

  .img-sugar {
      width: 80%;
    
  }

  .sugar-img {
    text-align: center;
  }

  .sugar-reasons {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .sugar-card-wrapper {
    @media screen and (max-width: 768px) {
      // margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.5s ease;
    flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) {
      // margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    transition: 0.5s ease;
    flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      // margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    transition: 0.5s ease;
    flex-wrap: wrap;
    }
  }

  .sugar-card {
    
    @media screen and (max-width: 768px) {
      display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    padding: 30px 10px 15px;
    transition: 0.5s ease;
    cursor: pointer;
    // margin-bottom: 20px;
    margin: 30px 5px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    padding: 30px 10px 15px;
    transition: 0.5s ease;
    cursor: pointer;
    // margin-bottom: 20px;
    margin: 30px 5px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    padding: 30px 10px 15px;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px 5px;
    }
  }

  .sugar-card:hover {
    @media screen and (max-width: 768px) {
      
    // transform: scale(1.1);
    box-shadow: 0 6px 30px rgba(0, 0, 0, .25);
    }
    @media screen and (min-width: 768px) {
      
    // transform: scale(1.05);
    box-shadow: 0 6px 30px rgba(0, 0, 0, .25);
    }
    @media screen and (min-width: 1200px) {
      
    transform: scale(1.05);
    box-shadow: 0 6px 30px rgba(0, 0, 0, .25);
    }
  }

  .sugar-card-caption {
    text-align: center;
    color: #000000bd;
    font-size: 18px;
  }

  .sugar-icon {
    font-size: 180px;;
  }