body {
  font-family: "El Messiri", sans-serif;
}
@media screen and (min-width: 360px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
  }
}

@media screen and (min-width: 360px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.header-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/herobg.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(105, 105, 105, 0.3);
  padding: 15px 0;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  display: inline-block;
  margin-left: 30px;
  position: relative;
  vertical-align: middle;
  line-height: 1.6;
  letter-spacing: 0;
  white-space: normal;
}

.nav-item:first-child {
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.has-submenu:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown {
  display: block;
  border-top-width: 0;
  position: absolute;
  top: 100%;
  left: -30px;
  min-width: 200px;
  margin-top: 20px;
  padding: 30px;
  background-color: #282828;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out, visibility 0.2s ease-in-out;
}/*# sourceMappingURL=main.css.map */