.about-container {
    background: linear-gradient(#2f303a66, #2f303a66),
      url("/assets/images/aboutbg.jpg");
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  .about-us {
    margin-top: 50px;
  }

  .about-slogan {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  
  .about-caption {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: #000000bd;
  }

  .about-list-head {
    margin-top: 35px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }

  .bold-text {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
  }

  .regular-text {
    font-size: 18px;
    color: #000000bd;
  }

  .product-list-item {
    padding: 10px 0;
  }

  .btn-container {
    text-align: center;
    margin-top: 35px;
  }

  .about-link {
    background-color: #1904d9ad;
    padding: 10px 20px;
    border-radius: 50px;
    color: #ffffff;
    transition: 1s;
  }

  .about-link:hover {
    -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, .5);
    box-shadow: 0 6px 30px rgba(0, 0, 0, .5);
  }

