.contact-container {
    background: linear-gradient(#2f303a66, #2f303a66),
      url("/assets/images/contactbg.jpg");
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  .contacts {
    margin-top: 50px;
    text-align: center;
  }

  .contacts-slogan {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .intouch-link, .mail-link {
    font-size: 18px;
    color: #000000bd;
  }

  .contacts h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .contact-adress-wrapper {
    @media screen and (max-width: 768px) {
      display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: column;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: row;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: row;
    }
  }

  .adress-wrapper {
    display: flex;
    flex-direction: column;
    line-height: 27px;
  }

  .contact-adress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
  }

  .contact-intouch {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .contact-mails-wrapper {
    @media screen and (max-width: 768px) {
      display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: column;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: row;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: row;
    }
  }

  .intouch-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contact-mails {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
  }

  .phone-link {
    direction: ltr;
  }

  .phone-link::before {
    font-family: "Font Awesome 6 Free"; 
content:('\f095');
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        color: #000000bd;
  }

  .mail-link::before {
    font-family: "Font Awesome 6 Free"; 
content:('\f0e0');
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        color: #000000bd;
  }

  .footer-tel::before {
    font-family: "Font Awesome 6 Free"; 
content:('\f095');
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        color: #ffffff;
  }

  .footer-mail::before {
    font-family: "Font Awesome 6 Free"; 
content:('\f0e0');
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        color: #ffffff;
  }