.footer {
    margin-top: 50px;
    background-color: rgb(105 105 105);
    padding: 50px 0;
}

.footer-container {
  @media screen and (max-width: 768px) {
    align-content: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        width: 90%;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
    
}

.footer-menu-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-nav-items {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
  }
  
  .footer-nav-item {
    display: inline-block;
    padding: 10px 0;
    position: relative;
    vertical-align: middle;
    line-height: 1.6;
    letter-spacing: 0;
    white-space: normal;
  }
  
//   .footer-nav-item:first-child {
//     margin-top: 0 !important;
//     margin-left: 0 !important;
//   }
  
  .has-submenu:hover .footer-dropdown {
    opacity: 1;
    visibility: visible;
  }
  
  .footer-dropdown {
    display: block;
    border-top-width: 0;
    position: absolute;
    top: 20px;
    // left: -30px;
    min-width: 200px;
    margin-top: 20px;
    padding: 15px;
    background-color: #282828b8;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    -webkit-transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out,
      visibility 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out,
      visibility 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out,
      visibility 0.2s ease-in-out;
  }
  
  .footer-dropdown {
    @media screen and (max-width: 768px) {
      background-color: #282828cf;
      min-width: 100px;
    }
  }
  
  footer a {
    color: #ffffff;
    transition: 0.2s;
  }
  
  .nav-link:hover {
    border-bottom: 2px solid #ffffff;
  }

  footer h3 {
    color: #ffffff;
    font-size: x-large;
    text-align: center;
  }

  .social-container {
    @media screen and (max-width: 768px) {
      display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
        margin: 0 auto;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    flex-direction: column;
    margin-top: 20px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    flex-direction: column;
    }
  }

  .social-link {
    color: #ffffff;
    font-size: 50px;
  }

  .social {
    margin-top: 30px;
    display: flex;
      justify-content: space-around;
  }

  .footer-contact-wrapper p, a {
    color: #ffffff;
    padding: 5px 0;
    vertical-align: middle;
    letter-spacing: 0;
    white-space: normal;
    // width: 80%;
  }

  .footer-contact {
display: flex;
flex-direction: column;
flex-grow: 2;
  }

  .footer-conmap {
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    margin-top: 30px;
    justify-content: space-evenly;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
    margin-top: 30px;
    justify-content: space-evenly;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    flex-direction: row;
    }
  }

  .footer-contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  // .footer-tel {
  //   direction: ltr;
  //   text-align: end;
  // }
  
  .footer-menu {
    text-align: start;
  }

  .social-link:hover {
    color:dodgerblue;
  }