body {
    font-family: "El Messiri", sans-serif;
    @media screen and (min-width: 360px) {
      width: 100%;
      height: 100%;
      margin: 0;
      position: absolute;
      top: 0;
    }
}

.container {
    @media screen and (max-width: 768px) {
      width: 90%;
      margin: 0 auto;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      margin: 0 auto;
      padding: 0 15px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    }
  }



  
  