.header-container {
  background: linear-gradient(#2f303a66, #2f303a66),
    url("/assets/images/herobg.jpg");
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.nav-menu {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    background-color: rgb(105 105 105 / 30%);
    padding: 0 15px;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(105 105 105 / 30%);
    // padding: 15px 0;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(105 105 105 / 30%);
    // padding: 15px 0;
    align-items: center;
  }
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  @media screen and (max-width: 768px) {
    display: inline-block;
  // margin-left: 30px;
  position: relative;
  vertical-align: middle;
  line-height: 1.6;
  letter-spacing: 0;
  white-space: normal;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
  margin-left: 30px;
  position: relative;
  vertical-align: middle;
  line-height: 1.6;
  letter-spacing: 0;
  white-space: normal;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
  margin-left: 30px;
  position: relative;
  vertical-align: middle;
  line-height: 1.6;
  letter-spacing: 0;
  white-space: normal;
  }
}

.nav-item:first-child {
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.has-submenu:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown {
  display: block;
  border-top-width: 0;
  position: absolute;
  top: 100%;
  left: -30px;
  min-width: 200px;
  margin-top: 20px;
  padding: 30px;
  background-color: #282828b8;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  -webkit-transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out,
    visibility 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out,
    visibility 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out,
    visibility 0.2s ease-in-out;
}

.dropdown {
  @media screen and (max-width: 768px) {
    background-color: #282828cf;
    min-width: 100px;
  }
}

nav a {
  color: #ffffff;
  transition: 0.2s;
}

.nav-link:hover {
  border-bottom: 2px solid #ffffff;
}

.lang-switch::before {
  font-family: "Font Awesome 6 Free"; 
content:('\f1ab');
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        color: #ffffff;
}

.hamburger {
  display: none;
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.hamburger {
  @media screen and (max-width: 768px) {
    display: flex;
    cursor: pointer;
  }
}

.hamburger #closeHam {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.nav-items {
  @media screen and (max-width: 768px) {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 100px;
    background-color: rgb(105 105 105 / 90%);
    width: 100%;
    height: calc(100vh - 50px);
    padding-top: 60px;
    gap: 10vh;
  }
}

.hero-slogan {
    
    text-align: center;
    padding: 45vh 0;
}

.hero-text {
  @media screen and (max-width: 768px) {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
  }
  @media screen and (min-width: 768px) {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
  }
  @media screen and (min-width: 1200px) {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
  }
}

.hero-caption {
    color: #fff;
    font-size: 25px;
}


.logo {
  height: 85px;
}

