.info {
  margin-top: 50px;
}

.main-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.main-caption {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  color: #000000bd;
}

.main-wrapper {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-item {
    flex: 0 0 30%;
    // max-width: 30%;
    margin: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .5);
}
.main-item:hover .overlay {
  background-color: #1904d9ad;
  -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, .5);
    box-shadow: 0 6px 30px rgba(0, 0, 0, .5);
}

.main-img {
    height: 295px;
    width: 365px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 295px;
    width: 100%;
    // opacity: 0;
    transition: .5s ease;
    background-color: #2626266e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-item:hover .overlay {
opacity: 1;
}

.overtext {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  // position: absolute;
  // top: 50%;
  /* left: 50%; */
  text-align: center;
}

.item-link {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
