.products-container {
    background: linear-gradient(#2f303a66, #2f303a66),
      url("/assets/images/prodbg.jpg");
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  .products {
    margin-top: 50px;
  }

  .prod-slogan {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .prod-wrapper {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.prod-item {
        
        @media screen and (max-width: 768px) {
            /* margin-bottom: 30px; */
        flex: 0 0 100%;
        /* max-width: 25%; */
        box-shadow: 0 0 10px rgba(0, 0, 0, .25);
        background-color: #fff;
        text-align: center;
        padding: 10px 10px 30px;
        transition: .3s;
        /* position: relative; */
        display: block;
        height: 100%;
        overflow: hidden;
        margin: 10px;
          }
          @media screen and (min-width: 768px) {
            /* margin-bottom: 30px; */
        flex: 0 0 40%;
        /* max-width: 25%; */
        box-shadow: 0 0 10px rgba(0, 0, 0, .25);
        background-color: #fff;
        text-align: center;
        padding: 10px 10px 30px;
        transition: .3s;
        /* position: relative; */
        display: block;
        height: 100%;
        overflow: hidden;
        margin: 10px;
          }
          @media screen and (min-width: 1200px) {
            /* margin-bottom: 30px; */
        flex: 0 0 30%;
        /* max-width: 25%; */
        box-shadow: 0 0 10px rgba(0, 0, 0, .25);
        background-color: #fff;
        text-align: center;
        padding: 10px 10px 30px;
        transition: .3s;
        /* position: relative; */
        display: block;
        height: 100%;
        overflow: hidden;
        margin: 10px;
          }
}

.prod-img {
    max-width: 300px;
    height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: auto;
    width: 100%;
}

.prod-title {
    color: #1904d9ad;
    font-size: 30px;
    font-weight: 800;
}

.prod-item:hover {
    webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, .25);
    box-shadow: 0 6px 30px rgba(0, 0, 0, .25);
    transform: scale(1.05);
}