.slider-wrapper {
    @media screen and (max-width: 768px) {
      display: flex;
    width: 90%;
    direction: ltr !important;
    margin-top: 20px;
    align-self: center;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      width: 50%;
      direction: ltr !important;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    width: 50%;
    direction: ltr !important;
    }
  }

  .chicken-slider-wrapper {
    @media screen and (max-width: 768px) {
      display: flex;
    width: 90%;
    direction: ltr !important;
    margin: 20px auto 0 auto;
    align-self: center;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      width: 80%;
      direction: ltr !important;
      margin: auto;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    width: 80%;
    direction: ltr !important;
    margin: auto;
    }
  }

  // .glide__slide {

  //   display: flex;
  //   justify-content: center;
  // }
  
  .slide-img {
    max-width: 600px;
    // height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: auto;
    width: 100%;
  }

  .chicken-slide-img {
    max-width: 960px;
    // height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: auto;
    width: 100%;
  }
  
  // .glide__track {
  //   width: 50%;
  // }
  
  // .glide__slide {
  //   width: 300px !important;
  // }
  .slide-text {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #1904d9ad;
  }
  
  .glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: #1904d9ad;
    text-transform: uppercase;
    // padding: 9px 12px;
    padding: 0;
    background-color: transparent;
    border: none;
    // border: 2px solid #1904d980;
    // border-radius: 4px;
    // box-shadow: 0 0.25em 0.5em 0 #1904d91a;
    // text-shadow: 0 0.25em 0.5em #1904d91a;
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;
    font-size: 30px;
  }
  
  .glide__arrow--left {
    left: 0;
  }
  
  .glide__arrow--right {
    right: 0;
  }

  .chicken-glide-arrow {
    color: #ffffff;
  }