body {
  font-family: "El Messiri", sans-serif;
}
@media screen and (min-width: 360px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.header-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/herobg.jpg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: flex;
    justify-content: space-between;
    background-color: rgba(105, 105, 105, 0.3);
    padding: 0 15px;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(105, 105, 105, 0.3);
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .nav-menu {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(105, 105, 105, 0.3);
    align-items: center;
  }
}

.nav-items {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 1.6;
    letter-spacing: 0;
    white-space: normal;
  }
}
@media screen and (min-width: 768px) {
  .nav-item {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    vertical-align: middle;
    line-height: 1.6;
    letter-spacing: 0;
    white-space: normal;
  }
}
@media screen and (min-width: 1200px) {
  .nav-item {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    vertical-align: middle;
    line-height: 1.6;
    letter-spacing: 0;
    white-space: normal;
  }
}

.nav-item:first-child {
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.has-submenu:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown {
  display: block;
  border-top-width: 0;
  position: absolute;
  top: 100%;
  left: -30px;
  min-width: 200px;
  margin-top: 20px;
  padding: 30px;
  background-color: rgba(40, 40, 40, 0.7215686275);
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out, visibility 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .dropdown {
    background-color: rgba(40, 40, 40, 0.8117647059);
    min-width: 100px;
  }
}

nav a {
  color: #ffffff;
  transition: 0.2s;
}

.nav-link:hover {
  border-bottom: 2px solid #ffffff;
}

.lang-switch::before {
  font-family: "Font Awesome 6 Free";
  content: "\f1ab";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #ffffff;
}

.hamburger {
  display: none;
  font-size: 20px;
  font-weight: 800;
  color: white;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .hamburger #closeHam {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 100px;
    background-color: rgba(105, 105, 105, 0.9);
    width: 100%;
    height: calc(100vh - 50px);
    padding-top: 60px;
    gap: 10vh;
  }
}

.hero-slogan {
  text-align: center;
  padding: 45vh 0;
}

@media screen and (max-width: 768px) {
  .hero-text {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) {
  .hero-text {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
  }
}
@media screen and (min-width: 1200px) {
  .hero-text {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
  }
}

.hero-caption {
  color: #fff;
  font-size: 25px;
}

.logo {
  height: 85px;
}

.info {
  margin-top: 50px;
}

.main-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.main-caption {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7411764706);
}

.main-wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-item {
  flex: 0 0 30%;
  margin: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.main-item:hover .overlay {
  background-color: rgba(25, 4, 217, 0.6784313725);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.5);
}

.main-img {
  height: 295px;
  width: 365px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 295px;
  width: 100%;
  transition: 0.5s ease;
  background-color: rgba(38, 38, 38, 0.431372549);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-item:hover .overlay {
  opacity: 1;
}

.overtext {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  /* left: 50%; */
  text-align: center;
}

.item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  margin-top: 50px;
  background-color: rgb(105, 105, 105);
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  .footer-container {
    align-content: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.footer-menu-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-nav-items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 30px;
}

.footer-nav-item {
  display: inline-block;
  padding: 10px 0;
  position: relative;
  vertical-align: middle;
  line-height: 1.6;
  letter-spacing: 0;
  white-space: normal;
}

.has-submenu:hover .footer-dropdown {
  opacity: 1;
  visibility: visible;
}

.footer-dropdown {
  display: block;
  border-top-width: 0;
  position: absolute;
  top: 20px;
  min-width: 200px;
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(40, 40, 40, 0.7215686275);
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  transition: opacity 0.2s ease-in-out, margin-top 0.3s ease-in-out, visibility 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .footer-dropdown {
    background-color: rgba(40, 40, 40, 0.8117647059);
    min-width: 100px;
  }
}

footer a {
  color: #ffffff;
  transition: 0.2s;
}

.nav-link:hover {
  border-bottom: 2px solid #ffffff;
}

footer h3 {
  color: #ffffff;
  font-size: x-large;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .social-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .social-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .social-container {
    display: flex;
    flex-direction: column;
  }
}

.social-link {
  color: #ffffff;
  font-size: 50px;
}

.social {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.footer-contact-wrapper p, a {
  color: #ffffff;
  padding: 5px 0;
  vertical-align: middle;
  letter-spacing: 0;
  white-space: normal;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

@media screen and (max-width: 768px) {
  .footer-conmap {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .footer-conmap {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .footer-conmap {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

.footer-contact-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-menu {
  text-align: start;
}

.social-link:hover {
  color: dodgerblue;
}

.about-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/aboutbg.jpg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.about-us {
  margin-top: 50px;
}

.about-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.about-caption {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7411764706);
}

.about-list-head {
  margin-top: 35px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.bold-text {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.regular-text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.product-list-item {
  padding: 10px 0;
}

.btn-container {
  text-align: center;
  margin-top: 35px;
}

.about-link {
  background-color: rgba(25, 4, 217, 0.6784313725);
  padding: 10px 20px;
  border-radius: 50px;
  color: #ffffff;
  transition: 1s;
}

.about-link:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.5);
}

.products-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/prodbg.jpg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.products {
  margin-top: 50px;
}

.prod-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.prod-wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .prod-item {
    /* margin-bottom: 30px; */
    flex: 0 0 100%;
    /* max-width: 25%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    text-align: center;
    padding: 10px 10px 30px;
    transition: 0.3s;
    /* position: relative; */
    display: block;
    height: 100%;
    overflow: hidden;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .prod-item {
    /* margin-bottom: 30px; */
    flex: 0 0 40%;
    /* max-width: 25%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    text-align: center;
    padding: 10px 10px 30px;
    transition: 0.3s;
    /* position: relative; */
    display: block;
    height: 100%;
    overflow: hidden;
    margin: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .prod-item {
    /* margin-bottom: 30px; */
    flex: 0 0 30%;
    /* max-width: 25%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    text-align: center;
    padding: 10px 10px 30px;
    transition: 0.3s;
    /* position: relative; */
    display: block;
    height: 100%;
    overflow: hidden;
    margin: 10px;
  }
}

.prod-img {
  max-width: 300px;
  height: 300px;
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
  width: 100%;
}

.prod-title {
  color: rgba(25, 4, 217, 0.6784313725);
  font-size: 30px;
  font-weight: 800;
}

.prod-item:hover {
  webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

.contact-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/contactbg.jpg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contacts {
  margin-top: 50px;
  text-align: center;
}

.contacts-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.intouch-link, .mail-link {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.contacts h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .contact-adress-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .contact-adress-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .contact-adress-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: row;
  }
}

.adress-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 27px;
}

.contact-adress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.contact-intouch {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .contact-mails-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .contact-mails-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .contact-mails-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: row;
  }
}

.intouch-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-mails {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
}

.phone-link {
  direction: ltr;
}

.phone-link::before {
  font-family: "Font Awesome 6 Free";
  content: "\f095";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.7411764706);
}

.mail-link::before {
  font-family: "Font Awesome 6 Free";
  content: "\f0e0";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.7411764706);
}

.footer-tel::before {
  font-family: "Font Awesome 6 Free";
  content: "\f095";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #ffffff;
}

.footer-mail::before {
  font-family: "Font Awesome 6 Free";
  content: "\f0e0";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #ffffff;
}

.oil-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/oilbg.png");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.oil {
  margin-top: 50px;
}

.oil-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .oil-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .oil-wrapper {
    display: flex;
    margin-top: 30px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .oil-wrapper {
    display: flex;
    margin-top: 30px;
    align-items: center;
  }
}

.oil-slide-image {
  margin: 0 auto;
  width: 10%;
}

@media screen and (max-width: 768px) {
  .oil-caption-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .oil-caption-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    flex: 0 0 45%;
  }
}
@media screen and (min-width: 1200px) {
  .oil-caption-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 0;
    flex: 0 0 50%;
  }
}

.oil-caption-wrapper h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.oil-caption-wrapper p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.raf-cap {
  margin-top: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.oil-caption-wrapper h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 10px;
}

.oil-caption-wrapper p, li {
  font-size: 18px;
}

.oil-regular-text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.oil-pack {
  list-style: disc;
}

@media screen and (max-width: 768px) {
  .oil-wrapper2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .oil-wrapper2 {
    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .oil-wrapper2 {
    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .tank-img {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .tank-img {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1200px) {
  .tank-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 0;
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .oil-caption-wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .oil-caption-wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    flex: 0 0 45%;
  }
}
@media screen and (min-width: 1200px) {
  .oil-caption-wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 0;
    flex: 0 0 50%;
  }
}

.oil-caption-wrapper2 h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.oil-caption-wrapper2 p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.raf-cap {
  margin-top: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.oil-caption-wrapper2 h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 10px;
}

.oil-slide {
  display: flex;
  justify-content: center;
}

.oil-bottles-img {
  width: 80%;
}

.beans-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/beansbg.png");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.beans {
  margin-top: 50px;
}

.beans-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .solo-bean {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .solo-bean {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .solo-bean {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
  }
}

.img-bean {
  width: 80%;
}

.bean-img {
  text-align: center;
  flex: 0 0 45%;
}

.bean-text {
  flex: 0 0 45%;
  display: flex;
  padding: 30px 0;
  flex-direction: column;
}

.beans-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.bean-name {
  font-size: 25px;
  font-weight: 600;
}

.bean-cap {
  margin-top: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.row-rev {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .row-rev {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .row-rev {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .row-rev {
    flex-direction: row-reverse;
  }
}

.chicken-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/chickenbg.png");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.chicken {
  margin-top: 50px;
}

.chicken-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.chicken-caption {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7411764706);
}

.chicken-icon {
  font-size: 180px;
}

@media screen and (max-width: 768px) {
  .chicken-card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.5s ease;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .chicken-card-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    transition: 0.5s ease;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .chicken-card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    transition: 0.5s ease;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .chicken-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 30px 10px 15px;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px 5px;
  }
}
@media screen and (min-width: 768px) {
  .chicken-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 30px 10px 15px;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px 5px;
  }
}
@media screen and (min-width: 1200px) {
  .chicken-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 30px 10px 15px;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px 5px;
  }
}

@media screen and (max-width: 768px) {
  .chicken-card:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 768px) {
  .chicken-card:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1200px) {
  .chicken-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25);
  }
}

.chicken-card-caption {
  text-align: center;
  color: rgba(0, 0, 0, 0.7411764706);
  font-size: 18px;
}

.chicken-caption2 {
  font-size: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7411764706);
  margin-bottom: 20px;
}

.dairy-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/dairybg.png");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.dairys {
  margin-top: 50px;
}

.dairys-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .solo-dairy {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .solo-dairy {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .solo-dairy {
    display: flex;
    justify-content: space-between;
  }
}

.img-dairy {
  width: 80%;
}

.dairy-img {
  text-align: center;
  flex: 0 0 45%;
}

.dairy-text {
  flex: 0 0 45%;
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  justify-content: center;
}

.dairys-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.dairy-name {
  font-size: 25px;
  font-weight: 600;
}

.dairy-cap {
  margin-top: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.dairys-cap {
  margin-top: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
  text-align: center;
}

.eggs-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/eggsbg.png");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.eggs {
  margin-top: 50px;
}

.eggs-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.eggs-cap {
  margin-top: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

@media screen and (max-width: 768px) {
  .eggs-wrapper {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .eggs-wrapper {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .eggs-wrapper {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
  }
}

.eggs-text {
  flex: 0 0 52%;
}

.egg-img {
  text-align: center;
}

.img-egg {
  width: 80%;
}

.flour-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/flourbg.jpg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.flour {
  margin-top: 50px;
}

.flour-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.flour-h3 {
  margin-top: 20px;
  font-size: 20px;
}

.flour-list {
  margin-top: 20px;
}

.flour-cap {
  margin-top: 20px;
}

.mt10 {
  margin-top: 10px;
}

.flour-texts li, p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.bolder-text {
  font-weight: 600;
  flex: 0 0 58%;
  color: #000000 !important;
}

@media screen and (max-width: 768px) {
  .flour-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .flour-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .flour-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .image {
    width: 100%;
  }
}
.grain-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/grainbg.png");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.grain {
  margin-top: 50px;
}

.grain-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .grain-top {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .grain-top {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .grain-top {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
  }
}

.grain-top-text {
  flex: 0 0 55%;
}

.grain-top-text h3 {
  font-size: 20px;
  font-weight: 800;
}

.grain-top-text p {
  font-size: 18px;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.grain-cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .grain-item {
    /* margin-bottom: 30px; */
    flex: 0 0 100%;
    /* max-width: 25%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    text-align: center;
    padding: 10px 10px 30px;
    transition: 0.3s;
    /* position: relative; */
    display: block;
    height: 100%;
    overflow: hidden;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .grain-item {
    /* margin-bottom: 30px; */
    flex: 0 0 40%;
    /* max-width: 25%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    text-align: center;
    padding: 10px 10px 30px;
    transition: 0.3s;
    /* position: relative; */
    display: block;
    height: 100%;
    overflow: hidden;
    margin: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .grain-item {
    /* margin-bottom: 30px; */
    flex: 0 0 30%;
    /* max-width: 25%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    text-align: center;
    padding: 10px 10px 30px;
    transition: 0.3s;
    /* position: relative; */
    display: block;
    height: 100%;
    overflow: hidden;
    margin: 10px;
  }
}

.grain-img {
  max-width: 300px;
  height: 300px;
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .grain-title {
    color: rgba(25, 4, 217, 0.6784313725);
    font-size: 30px;
    font-weight: 800;
  }
}
@media screen and (min-width: 768px) {
  .grain-title {
    color: rgba(25, 4, 217, 0.6784313725);
    font-size: 25px;
    font-weight: 800;
  }
}
@media screen and (min-width: 1200px) {
  .grain-title {
    color: rgba(25, 4, 217, 0.6784313725);
    font-size: 30px;
    font-weight: 800;
  }
}

.grain-item:hover {
  webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
  .grain-top-img img {
    max-width: 90%;
  }
}

.pasta-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/pastabg.jpg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.pasta {
  margin-top: 50px;
}

.pasta-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .pasta-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .pasta-wrapper {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .pasta-wrapper {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .pasta-caption-wrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .pasta-caption-wrapper {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1200px) {
  .pasta-caption-wrapper {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
}

.pasta-caption-wrapper h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.pasta-caption-wrapper p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.pasta-slide {
  text-align: center;
}

.pasta-caption-wrapper li {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

.pasta-cap-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: self-end; */
  margin: 30px auto;
  align-items: center;
}

.pasta-cap-wrapper ul {
  margin-top: 20px;
}

.pasta-cap-wrapper p {
  margin-top: 20px;
}

.sugar-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/assets/images/sugarbg.jpg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sugar {
  margin-top: 50px;
}

.sugar-slogan {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.sugar-cap {
  margin-top: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7411764706);
}

@media screen and (max-width: 768px) {
  .sugar-wrapper {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .sugar-wrapper {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .sugar-wrapper {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
  }
}

.sugar-text {
  flex: 0 0 52%;
}

.img-sugar {
  width: 80%;
}

.sugar-img {
  text-align: center;
}

.sugar-reasons {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .sugar-card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.5s ease;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .sugar-card-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    transition: 0.5s ease;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .sugar-card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    transition: 0.5s ease;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .sugar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 30px 10px 15px;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px 5px;
  }
}
@media screen and (min-width: 768px) {
  .sugar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 30px 10px 15px;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px 5px;
  }
}
@media screen and (min-width: 1200px) {
  .sugar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 30px 10px 15px;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px 5px;
  }
}

@media screen and (max-width: 768px) {
  .sugar-card:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 768px) {
  .sugar-card:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1200px) {
  .sugar-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25);
  }
}

.sugar-card-caption {
  text-align: center;
  color: rgba(0, 0, 0, 0.7411764706);
  font-size: 18px;
}

.sugar-icon {
  font-size: 180px;
}

@media screen and (max-width: 768px) {
  .slider-wrapper {
    display: flex;
    width: 90%;
    direction: ltr !important;
    margin-top: 20px;
    align-self: center;
  }
}
@media screen and (min-width: 768px) {
  .slider-wrapper {
    display: flex;
    width: 50%;
    direction: ltr !important;
  }
}
@media screen and (min-width: 1200px) {
  .slider-wrapper {
    display: flex;
    width: 50%;
    direction: ltr !important;
  }
}

@media screen and (max-width: 768px) {
  .chicken-slider-wrapper {
    display: flex;
    width: 90%;
    direction: ltr !important;
    margin: 20px auto 0 auto;
    align-self: center;
  }
}
@media screen and (min-width: 768px) {
  .chicken-slider-wrapper {
    display: flex;
    width: 80%;
    direction: ltr !important;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .chicken-slider-wrapper {
    display: flex;
    width: 80%;
    direction: ltr !important;
    margin: auto;
  }
}

.slide-img {
  max-width: 600px;
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
  width: 100%;
}

.chicken-slide-img {
  max-width: 960px;
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
  width: 100%;
}

.slide-text {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(25, 4, 217, 0.6784313725);
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: rgba(25, 4, 217, 0.6784313725);
  text-transform: uppercase;
  padding: 0;
  background-color: transparent;
  border: none;
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
  font-size: 30px;
}

.glide__arrow--left {
  left: 0;
}

.glide__arrow--right {
  right: 0;
}

.chicken-glide-arrow {
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */